body {
  background-color: #0d1117;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background: #161b22;
  padding: 3rem;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

input, select, textarea, button {
  width: 90%;
  margin-top: 0.7rem;
  border: none;
  border-radius: 10px 10px 10px 10px;
  padding: 0.8rem;
  font-size: 1rem;
}

input[type="file"] {
  background: #21262d;
  color: #ddd;
  cursor: pointer;
}

select, textarea {
  background: #21262d;
  color: #f5f5f5;
}

button {
  background: #ffb84d;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  width:100%;
  transition: 0.3s;
}

button.secondary {
  background: #21262d;
  color: #fff;
  margin-top: 0.5rem;
}

button:hover {
  opacity: 0.8;
}

.checkbox-group {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}

.label1
{
  flex:1;
  align-items: left;
}

.checkbox
{
  flex:1;
}